
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@-webkit-keyframes marquee {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}
@keyframes marquee {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}
.b-marquee-line__flow {
  background: #960808;
  font-size: 0;
  line-height: 0;
  height: 200px;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.b-marquee-line__flow-in {
  display: block;
  height: 200px;
}
.cssanimations .b-marquee-line__flow-in {
  width: 200%;
  position: absolute;
  overflow: hidden;
  -webkit-animation: marquee 40s linear infinite;
  animation: marquee 40s linear infinite;
}
.b-marquee-line__flow-block {
  white-space: nowrap;
}
.no-cssanimations .b-marquee-line__flow-block:last-child {
  display: none;
}
.cssanimations .b-marquee-line__flow-block {
  white-space: nowrap;
  float: left;
  width: 50%;
}
.b-marquee-line__flow-item {
  height: 420px;
}
.vanaudie-ncesacos {
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  height: 100%;
}

.kobndam-eneaks {
  display: grid;
  grid-template-columns: 1fr 10fr;
  grid-gap: 20px;
  align-items: center;
  font-size: 25px;
  background: #4a126b;
  box-shadow: 4px 8px 5px 0 rgba(0, 0, 0, .5);
}

.sonstan-cemaben {
  padding: 20px 20px;
  color: white;
}

.cesempa-vadekob {
  text-align: center;
  text-transform: uppercase;
  padding: 20px;
  background-color: #7006ad;
  color: white;
}

.sidenav {
  height: 100%; 
  width: 300px; 
  position: fixed;
  z-index: 1; 
  top: 0; 
  left: 0;
  background-color: #111; 
  overflow-x: hidden;
  padding-top: 10px;
}


.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 200px; 
  padding: 0px 10px;
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.card {
  min-width: 0;
  margin: 20px 10px;
  width: 100%;
  background: #0C0C0C;
  color: #696969;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
  border: none;
  border-radius: 5px;
  padding: 0;
  margin-bottom: 30px;
}
.card .card-img-container .card-img {
  background-size: cover;
  background-position: top center;
  display: block;
  height: 175px;
}
.card .card-img {
  height: 100px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.card .card-img-container {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.card .card-content {
  padding: 20px 20px 40px;
  text-align: center;
}
.card .card-meta {
  font-size: 12px;
}
.card .meta-box {
  margin-right: 20px;
}
.card .card-content h2 {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.4;
}
.card h2 a {
  color: #D0D0D0;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}
a:hover{
    text-decoration:none;
}
.card:hover h2 a {
  color: #FFF;
}
.card .meta-tags a:hover {
  color: #FFF;
}
.card .meta-tags .tag {
  background: #DD1B16;
  color: #f9c7c6;
}
.card .meta-tags a:last-child {
  margin-right: 0;
  border-bottom-right-radius: 5px;
}
.card .meta-tags a:first-child {
  border-top-left-radius: 5px;
}
.card .meta-tags a {
  display: inline-block;
  padding: 3px 8px;
  color: #FFF;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}
